


        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="card-top">
                <h5 class="card-title">Bob Smith</h5>
                <h5 class="card-title">
                  <i class="fas fa-mug-hot"></i></i> Manager
                </h5>
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: 45</li>
                <li class="list-group-item">Email: bob@fakemail.com</li>
                <li class="list-group-item">Office Number: 454343434</li>
              </ul>
            </div>
          </div>
        </div>

      
   
